body{
    background-color: black;
}

h1, h2{
    color: white;
    text-align: center;
}

p{
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
}

table{
    color: white;
}

#main menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: chartreuse;
}


#wrapper{
    width: 80%;
    margin: auto;
    /*background-color: seagreen;*/
}

#tbl-db table{
    width: 70%;
    margin: auto;
}

td{
    text-align: center;
}

#wrap1{
    width: 600px;
    height: 600px;
    /*background-color: salmon;*/
    float: left;
}

#wrap2{
    width: 600px;
    height: 550px;
    /*background-color: royalblue;*/
    float: right;
}

#name-row1, #name-row2{
    width: 50px;
    height: 500px;
    float: left;
   /* background-color: blueviolet;*/
}

#name-row1 div, #name-row2 div{
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;    
	/*background: blueviolet;*/
	border: 1px solid #ddd;
	width:50px;
    height:50px;
}


#board1, #board2{
    width: 500px;
    height: 500px;
    float: left;
    /*background-color: cadetblue;*/
}


#board1 div, #board2 div{
    position:absolute;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;         
	background: #f6f8f9; 
	border: 1px solid #ddd;
	width:50px;
    height:50px;
}

#name-col1, #name-col2{
    width: 500px;
    height: 50px;
   /*background-color: burlywood;*/
    float: left;
}

#name-col1 div{
    -webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;    
	/*background: blueviolet;*/
	border: 1px solid #ddd;
	width:50px;
    height:50px;
}